---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { toBCP47, useTranslations } from "../i18n/utils";
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<"posts">["data"] & {
	headings: MarkdownHeading[];
};

const { _, slug } = Astro.params;

const { title, description, locale, pubDate, updatedDate, headings } =
	Astro.props;

const t = useTranslations(locale);
---

<html lang={toBCP47(locale)}>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				display: flex;
				margin: auto;
				padding: 5em 0;
				width: 70%;
				gap: 3em;
				translate: -100px 0;
			}
			.table-of-contents {
				height: min-content;
				display: flex;
				flex-direction: column;
				align-items: end;
				text-align: end;
				border-right: 1px solid var(--accent);
				padding-right: 1em;
				position: sticky;
				top: 5em;
				min-width: 25%;
				line-height: 1.2;
				gap: 0.75em;
			}
			.table-of-contents a {
				color: var(--white);
				text-decoration-color: transparent;
				transition: text-decoration-color 0.15s linear;
			}
			.table-of-contents a:hover {
				text-decoration-color: var(--white);
			}

			@media (max-width: 720px) {
				.table-of-contents {
					display: none;
				}
				main {
					translate: none;
					width: 90%;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<div class="table-of-contents">
				{
					headings
						.filter((heading) => heading.depth < 3)
						.map((heading) => (
							<a href={`#${heading.slug}`}>{heading.text}</a>
						))
				}
			</div>
			<div class="content">
				<div class="title">
					<h1>{title}</h1>
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									{t("posts.last-updated-on")}
									<FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
				</div>
				<div class="prose">
					<slot />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
